.DS_Store
.ipynb_checkpoints
.cspell/
.vscode/
2_FK_Model/9_month_review_fk.tex
figure_code/amk_paper
*.json
doit.db.db
iteration*.svg

pandoc/figs
figure_code/exports
build/

*.aux
*.fls
*.log
*.fdb_latexmk
*.toc
*.gz
*.pyc
thesis.bbl
*.blg
*.lof
*.lot
*.out

thesis.bcf
thesis.run.xml
*doit*
