.DS_Store
.ipynb_checkpoints
.cspell/custom-dictionary-folder-61f10c08c7e33698e75c411f.txt
.vscode/settings.json
2_FK_Model/9_month_review_fk.tex
figure_code/amk_paper
*.json
doit.db.db
iteration*.svg

pandoc/figs
figure_code/exports
build/

*.aux
*.fls
*.log
*.fdb_latexmk
*.pdf
*.toc
*.pdf
*.gz
thesis.pdf
*.pyc
thesis.bbl
*.blg
*.lof
*.lot
*.out
.doit.db.

